@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
  margin: 0;
	line-height: 1.5;
}

.maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
.header {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.footer {
  background-color: #252831;
  color: #aaa;
  font-size: 0.7rem;
  letter-spacing: 0.06rem;
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
}
.footer .links {
  color: #f18200;
}
.links {
  text-decoration: none;
}
.links:hover, .links:focus {
  color: #3397db;
}

.skip-link {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.skip-link:focus { 
  top: 0;
  left: auto;
  width:auto; 
  height:auto; 
  z-index: 1000;
  color: #f18200;
  text-decoration: none;
}
/* ====================== Navigation ====================== */
.navigation {
  width: 96%;
  background-color: #252831;
  text-align:center;
  padding: 2%;
}
.navigation h1 {
  margin: auto;
}
.navigation h1 a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.breadcrumb {
  padding: 1%;
  list-style: none;
  background-color: #eee;
  font-size: 1rem;
  margin: 0;
  width: 98%;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #004F94;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #923A21;
  text-decoration: underline;
}
/* ====================== Map ====================== */
.map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  background-color: #3D5871;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.filter h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
}
.filter-option {
  background-color: white;
  border: 1px solid #fff;
  font-size: 0.9rem;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 200px;
  flex: 1 1 0;
}

/* ====================== Restaurant Listing ====================== */
.restaurants-content {
  height: 100%;
}
.restaurants-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #f3f3f3;
  list-style: outside none none;
  padding-left: 5%;
  padding-right: 5%;
}
.restaurant {
  background-color: #fff;
  border: 2px solid #ccc;
  width: 25%;
  margin: 1%;
  padding: 1%;
}
.restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  width: 100%;
}
.view-details-button {
  background-color: #923A21;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2%;
}

@media only screen and (max-width: 768px) {
  .restaurants-list {
    flex-direction: column;
    align-items: center;
  }
  .restaurant {
    width: 75%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .restaurant {
    width: 40%;
  }
}
/* ====================== Restaurant Details ====================== */
.restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.restaurant-name {
  color: #923A21;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
}
.restaurant-container .restaurant-name {
  text-align: center;
}
.restaurant-container .restaurant-address {
  text-align: center;
}
.restaurant-container .restaurant-img {
	width: 100%;
}
.restaurant-neighborhood {
  font-size: 1rem;
}
.restaurant-address {
  font-size: 1rem;
}
.restaurant-hours {
  margin-left: auto;
  margin-right: auto;
}
.restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
.restaurant-container {
  padding-bottom: 3%;
}
.restaurant-container, .reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  background: #f3f3f3;
}
.reviews-container h2 {
  color: #923A21;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 3%
  margin-bottom: 0;
}
.reviews-list {
  margin: 0;
  padding: 0;
  width: 100%;
}
.review {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: .9rem;

}
.reviews-list li p {
  margin: 0 0 10px;
}
.restaurant-hours td {
  color: #666;
}

@media only screen and (max-width: 768px) {
  .restaurant-container, .reviews-container {
    width: 90%;
  }
}
