body {
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 80%;
	margin: auto;
}

#logo {
	width: 8%;
}

header  h1,p {
	text-align: right;
	text-transform: uppercase;
	color: #2d3c49;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 0;
}

header h1 {
	font-size: 52px;
	font-weight: 200;
}

header p {
	font-size: 24px;
}

hr {
	width: 80%;
	height: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #7d97ad;
}

#mainImg {
	display: block;
	width: 80%;
	max-height: 500px;
	height: 100%;
	margin: auto;
}

#featuredWork {
	width: 80%;
	margin: auto;
}

#featuredWork h1 {
	font-weight: normal;
	color: #7d97ad;
	font-size: 32px;
}
#featuredWork h2 {
	color: #2d3c49;
	text-transform: uppercase;
}

#projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project {
	width: 200px;
	height:auto;
	text-align: center;
	flex-grow: 1;
}


.project > img {
	width: 100%;
	max-height: 250px;
	height: 80%;
}

@media screen and (min-width: 791px) {

	.project:nth-child(2) {
		margin-left: 20px;
	}

	.project:nth-child(3) {
		margin-left: 20px;
	}

}

@media screen and (max-width: 790px) {
	.project:nth-child(2) {
		margin-left: 20px;
	}

	header h1 {
		font-size: 36px;
	}

	header p {
		font-size: 18px;
	}

}

@media screen and (max-width: 530px) {
	.project:nth-child(2) {
		margin: 0;
	}

	header h1 {
		font-size: 30px;
	}

	header p {
		font-size: 16px;
	}

}